body {
    background: url('../img/fabric_of_squares_dgray.png');
}
body.iframe {
    background: url('../img/fabric_of_squares_gray.png');
    height: 600px;
}
iframe {
    border: 0px;
}
.nav-main {
    margin-bottom: 0px;
}
.tab-content {
    padding: 10px;
    background: url('../img/fabric_of_squares_gray.png');
    border: 1px solid #DDDDDD;
    border-top: 0px;
    min-height: 400px;
}
.nav-main .active a {
    background: url('../img/fabric_of_squares_gray.png');
}
.nav-main a:hover {
    border-radius: 4px 4px 0 0;
    background: url('../img/fabric_of_squares_gray.png');
}
.nav-main a {
    color: black;
}
.table-hover tbody tr:hover > td {
    background: url('../img/fabric_of_squares_dgray.png');
}

.timer {
    padding: 8px;
}
.btn-panel {
    display: inline-block;
    width: 190px;
}
.timer-off {
    background: url('../img/fabric_of_squares_dgray.png');
    border-color: #DDDDDD;
    color: #333333;
}
.timer-on {
    background: url('../img/fabric_of_squares_gray_green.png');
    border-color: #D6E9C6;
    color: #468847;
}
.timer-pause {
    background: url('../img/fabric_of_squares_gray_blue.png');
    border-color: #DDDDFF;
    color: #3A87AD;
}
.timer-off .form-feature {
    width: 43%;
}
.timer-off .btn-pause, .timer-off .btn-stop {
    display: none;
}
.timer-on .form-feature, .timer-pause .form-feature {
    width: 43%
}
.timer-on .btn-start {
    display: none;
}
.timer-pause .btn-pause {
    display: none;
}
#timers form {
    margin-bottom: 0px;
}
.time-slot-action {
    width: 55px;
}
.link-btn
{
    padding: 5px;
}
.demo
{
    display: none;
    position: relative;
}
.toolbar {
    margin-bottom: 10px;
    float: left;
}
.editable:hover
{
    cursor: pointer;
}

/* de web2.0fication */
.btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-radius: 0px;
}
.btn {
    background-image: none;
    border-radius: 0px;
}
.btn-group > .btn + .dropdown-toggle {
    box-shadow: none;
}
.alert {
    border-radius: 0px;
}
.nav-pills li {
    color: black;
}
.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
    color: black;
    background-color: #DDDDDD;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 0px;
}
.nav-pills a {
    color: black;
}
a:focus, .btn:focus {
    outline: none;
}

.header-row {
    height: 45px;
}

.logo {
    position: absolute;
    top: -42px;
    right: -4px;
}
.bar {
    fill: #33b5e5;
}

.bar-rating-none {
    fill: gray;
}

.bar-rating-1 {
    fill: #FF1800;
}
.bar-rating-2 {
    fill: #FF9200;
}
.bar-rating-3 {
    fill: #FFD500;
}
.bar-rating-0 {
    fill: #FFD500;
}
.bar-rating-4 {
    fill: #C6F500;
}
.bar-rating-5 {
    fill: #14D100;
}
.tab-record-footer
{
    border-top: 1px dashed #DDDDDD;
    height: 120px;
    padding: 15px;
}
.faq-box
{
    padding: 15px;
}